<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>051DFD24-AE1C-43C1-BA6C-9C39CB5AF97D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB5C2B96-21DE-4968-BBE3-31A381CCD4F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0C6CCA48-7120-4A0C-AF9A-CF762DF64EB0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A4FFFF65-510C-488F-AF13-2EFF565528F7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>17E3938C-EDAE-4AD7-A883-277BB26E3134</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D74D95C4-EF0A-4557-8565-D12B5763CB11</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1CCA08C9-2889-4081-9D33-D462655C7590</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E7632854-C574-45EE-A08A-914BCA3BDCE4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1D90B73E-027D-4251-A6B7-5E9A6B825FFA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5D70D929-B212-467C-901F-5EB105AE12CC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1D928E0E-49D5-4EEB-93EC-114C7F307C49</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A6F588F6-9334-4A9E-8488-068D7E07388A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>210422FE-DB49-4A71-BA84-2A5DA0C09DED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3973DA90-712A-4C3E-9C02-FEECA09462A8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>225083EE-60E1-4860-8A5E-D327B3DF8093</key>
		<array/>
		<key>247E13BF-D3BF-4039-A5D6-93AADE35BF7E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4585DE45-AF6A-4480-828B-9A31FA6CD529</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3973DA90-712A-4C3E-9C02-FEECA09462A8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>17E3938C-EDAE-4AD7-A883-277BB26E3134</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4FB14C1A-AEBE-4DC0-ACC2-821642464058</key>
		<array/>
		<key>56DC531B-9E4C-4939-9AC0-3C7844C23DA2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>891774B0-A6F4-4FDC-8959-787C17F251BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>680E383B-4C61-4972-9B72-853C64B0EBEA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EBA2A51C-6C93-4A8F-BAD5-9A6280780BE2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>78C077C7-5786-4A74-85B8-CC4D99AD6466</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F40053F3-40FC-4822-908C-71B279784B87</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>891774B0-A6F4-4FDC-8959-787C17F251BC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>78C077C7-5786-4A74-85B8-CC4D99AD6466</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>897930AD-1A79-489B-B014-A1F06E864A91</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A78EFB07-3982-4266-B18D-08210228491E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8BAF75B1-1741-4226-BDD4-E75B60518F8B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F83E7F3F-F423-4CFB-A201-FF2DE719E9CD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8CF6D0FA-B549-4591-B279-DC4FD07E3E36</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EF736134-C614-4622-8ACA-CFC635C1FC30</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8EACC32B-85B8-419C-B3C2-4722D9A2A736</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>680E383B-4C61-4972-9B72-853C64B0EBEA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9125F622-F950-4E5B-959A-2ADB203A796A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6C8C96B3-3333-4DA2-8960-9A3777409FC6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>985E6FB8-112C-4378-BBB1-41E5514D7B4D</key>
		<array/>
		<key>993D8D59-46C8-405B-825F-0AF4672AF930</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4FB14C1A-AEBE-4DC0-ACC2-821642464058</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A4FFFF65-510C-488F-AF13-2EFF565528F7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1CCA08C9-2889-4081-9D33-D462655C7590</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A6F588F6-9334-4A9E-8488-068D7E07388A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9125F622-F950-4E5B-959A-2ADB203A796A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A78EFB07-3982-4266-B18D-08210228491E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>993D8D59-46C8-405B-825F-0AF4672AF930</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ABAFA000-B6D1-4228-A0EF-8ABAB7EC0456</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A87B6EC0-4BC4-4825-8B81-36E67BA044AB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B36D724D-012F-48DC-8E0E-432FB13093D7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8CF6D0FA-B549-4591-B279-DC4FD07E3E36</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BD540B8B-31DF-4807-A34E-5E8E775E4D12</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EF4A6003-5955-4860-97EF-1BE73309C869</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BF5EDE24-5A8D-439A-BC14-89D27B8013AB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>051DFD24-AE1C-43C1-BA6C-9C39CB5AF97D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CFDD8415-05E0-417A-9490-EC9FC6023C20</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>225083EE-60E1-4860-8A5E-D327B3DF8093</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D12D36A3-B86C-4545-AE71-E5BEB6F8DBBD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D1A124FB-3EE2-4FEF-8B5B-EAFAF68BDD99</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D1A124FB-3EE2-4FEF-8B5B-EAFAF68BDD99</key>
		<array/>
		<key>D40BECDC-59A4-45DD-A647-06A2752EB984</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF55E54D-51BC-44AB-9F4C-E4B0D3B0A311</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D74D95C4-EF0A-4557-8565-D12B5763CB11</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1D928E0E-49D5-4EEB-93EC-114C7F307C49</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DB5C2B96-21DE-4968-BBE3-31A381CCD4F5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>985E6FB8-112C-4378-BBB1-41E5514D7B4D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E6920E20-95A2-4D41-83F6-62384AD8AEF2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D3E1919A-09EF-4B80-9C2A-5ACEB35BAD4B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EBA2A51C-6C93-4A8F-BAD5-9A6280780BE2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C3B76076-189C-498B-810D-C02FCD566FF8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EF4A6003-5955-4860-97EF-1BE73309C869</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF5EDE24-5A8D-439A-BC14-89D27B8013AB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EF736134-C614-4622-8ACA-CFC635C1FC30</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9746B411-C6A4-4F8B-B9D4-66A9710856DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F83E7F3F-F423-4CFB-A201-FF2DE719E9CD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ABAFA000-B6D1-4228-A0EF-8ABAB7EC0456</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FF55E54D-51BC-44AB-9F4C-E4B0D3B0A311</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>897930AD-1A79-489B-B014-A1F06E864A91</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Justin Sternberg</string>
	<key>description</key>
	<string>Open iTerm tabs to OM/Lindris dirs &amp; run scripts</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>OM/Lin Up</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>itermDirTab omapp &amp;&amp; /Users/JT/Library/Application\ Support/Local/ssh-entry/E-ZSkm7-h.sh; exit;</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>D74D95C4-EF0A-4557-8565-D12B5763CB11</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>itermDirCommand omapp "tailtrim"</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>3973DA90-712A-4C3E-9C02-FEECA09462A8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>omup wp</string>
				<key>subtext</key>
				<string>Setup OM WP plugin iTerm tabs</string>
				<key>text</key>
				<string>OM Up the WP plugin</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BD540B8B-31DF-4807-A34E-5E8E775E4D12</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>omup</string>
				<key>subtext</key>
				<string>Setup OM iTerm tabs</string>
				<key>text</key>
				<string>OM Up</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>210422FE-DB49-4A71-BA84-2A5DA0C09DED</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>itermDirCommand omhn "loadnvm &amp;&amp; npm start"</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>A6F588F6-9334-4A9E-8488-068D7E07388A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>itermDirCommand omwp "tailtrim"</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>EF4A6003-5955-4860-97EF-1BE73309C869</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>itermDirTab omhn</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>6C8C96B3-3333-4DA2-8960-9A3777409FC6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>3</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>17E3938C-EDAE-4AD7-A883-277BB26E3134</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>3</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>1D928E0E-49D5-4EEB-93EC-114C7F307C49</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>3</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>9125F622-F950-4E5B-959A-2ADB203A796A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>itermDirCommand omwp "loadnvm # &amp;&amp; npm run build:plugin"</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>051DFD24-AE1C-43C1-BA6C-9C39CB5AF97D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>3</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>BF5EDE24-5A8D-439A-BC14-89D27B8013AB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>omup theme</string>
				<key>subtext</key>
				<string>Setup OM theme iTerm tabs</string>
				<key>text</key>
				<string>OM Up the theme</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B36D724D-012F-48DC-8E0E-432FB13093D7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>itermDirCommand ommarketing-theme "tailtrim"</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>FF55E54D-51BC-44AB-9F4C-E4B0D3B0A311</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>itermDirTab omapptheme</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>9746B411-C6A4-4F8B-B9D4-66A9710856DD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>itermDirCommand omapptheme "loadnvm &amp;&amp; npm start"</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>8CF6D0FA-B549-4591-B279-DC4FD07E3E36</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>omup marketing</string>
				<key>subtext</key>
				<string>Setup OM marketing iTerm tabs</string>
				<key>text</key>
				<string>OM Up the marketing theme</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D40BECDC-59A4-45DD-A647-06A2752EB984</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>3</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>EF736134-C614-4622-8ACA-CFC635C1FC30</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>itermDirCommand omwpvue "loadnvm &amp;&amp; npm start"</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>985E6FB8-112C-4378-BBB1-41E5514D7B4D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>897930AD-1A79-489B-B014-A1F06E864A91</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>itermDirTab omdashboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>E7632854-C574-45EE-A08A-914BCA3BDCE4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>itermDirCommand omdashboard "loadnvm &amp;&amp; npm start"</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>A4FFFF65-510C-488F-AF13-2EFF565528F7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>itermDirTab om</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>A78EFB07-3982-4266-B18D-08210228491E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>3</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>DB5C2B96-21DE-4968-BBE3-31A381CCD4F5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>omup dash</string>
				<key>subtext</key>
				<string>Setup OM dashboard iTerm tabs</string>
				<key>text</key>
				<string>OM Up the dashboard</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0C6CCA48-7120-4A0C-AF9A-CF762DF64EB0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>3</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>1CCA08C9-2889-4081-9D33-D462655C7590</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>3</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>993D8D59-46C8-405B-825F-0AF4672AF930</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>omup renderer</string>
				<key>subtext</key>
				<string>Setup OM renderer iTerm tabs</string>
				<key>text</key>
				<string>OM Up the renderer</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>56DC531B-9E4C-4939-9AC0-3C7844C23DA2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>itermDirCommand renderer "loadnvm &amp;&amp; npm start"</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>891774B0-A6F4-4FDC-8959-787C17F251BC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>itermDirTab renderer</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>F40053F3-40FC-4822-908C-71B279784B87</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>itermDirCommand ommarketing-theme "loadnvm &amp;&amp; npm start"</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>4FB14C1A-AEBE-4DC0-ACC2-821642464058</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>3</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>78C077C7-5786-4A74-85B8-CC4D99AD6466</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>itermDirTab omapi</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>A87B6EC0-4BC4-4825-8B81-36E67BA044AB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>itermDirCommand omapi "loadnvm &amp;&amp; npm start"</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>F83E7F3F-F423-4CFB-A201-FF2DE719E9CD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>linup backend</string>
				<key>subtext</key>
				<string>Setup Lindris Backend iTerm tabs</string>
				<key>text</key>
				<string>Lindris Up Backend App</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D12D36A3-B86C-4545-AE71-E5BEB6F8DBBD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>iterm_linup_frontend</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>225083EE-60E1-4860-8A5E-D327B3DF8093</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>linup</string>
				<key>subtext</key>
				<string>Setup Lindris Frontend iTerm tabs</string>
				<key>text</key>
				<string>Lindris Up Frontend App</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CFDD8415-05E0-417A-9490-EC9FC6023C20</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>iterm_linup_backend</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>D1A124FB-3EE2-4FEF-8B5B-EAFAF68BDD99</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>omup api.js</string>
				<key>subtext</key>
				<string>OM Up api.js iTerm tabs</string>
				<key>text</key>
				<string>OM Up api.js</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8BAF75B1-1741-4226-BDD4-E75B60518F8B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>3</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>ABAFA000-B6D1-4228-A0EF-8ABAB7EC0456</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>itermDirTab tp</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>C3B76076-189C-498B-810D-C02FCD566FF8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>omup tp</string>
				<key>subtext</key>
				<string>Setup TrustPulse App iTerm tabs</string>
				<key>text</key>
				<string>OM Up TrustPulse App</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8EACC32B-85B8-419C-B3C2-4722D9A2A736</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>itermDirCommand tp "tailtrim"</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>680E383B-4C61-4972-9B72-853C64B0EBEA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>linup plugin</string>
				<key>subtext</key>
				<string>Setup Lindris Plugin/site iTerm tabs</string>
				<key>text</key>
				<string>Lindris Up WordPress Plugin</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>247E13BF-D3BF-4039-A5D6-93AADE35BF7E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>iterm_linup_plugin</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>4585DE45-AF6A-4480-828B-9A31FA6CD529</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>linup marketing</string>
				<key>subtext</key>
				<string>Setup Lindris Marketing site iTerm tabs</string>
				<key>text</key>
				<string>Lindris Up Marketing Site</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E6920E20-95A2-4D41-83F6-62384AD8AEF2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>iterm_linup_marketing</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>D3E1919A-09EF-4B80-9C2A-5ACEB35BAD4B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>3</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>EBA2A51C-6C93-4A8F-BAD5-9A6280780BE2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>linup monorepo</string>
				<key>subtext</key>
				<string>Setup Lindris Monorepo iTerm tabs</string>
				<key>text</key>
				<string>Lindris Up Monorepo</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1D90B73E-027D-4251-A6B7-5E9A6B825FFA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>iterm_linup_monorepo</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>5D70D929-B212-467C-901F-5EB105AE12CC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>051DFD24-AE1C-43C1-BA6C-9C39CB5AF97D</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Goto WP plugin &amp; build</string>
			<key>xpos</key>
			<real>975</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>0C6CCA48-7120-4A0C-AF9A-CF762DF64EB0</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
		<key>17E3938C-EDAE-4AD7-A883-277BB26E3134</key>
		<dict>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>1CCA08C9-2889-4081-9D33-D462655C7590</key>
		<dict>
			<key>xpos</key>
			<real>325</real>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>1D90B73E-027D-4251-A6B7-5E9A6B825FFA</key>
		<dict>
			<key>xpos</key>
			<real>545</real>
			<key>ypos</key>
			<real>975</real>
		</dict>
		<key>1D928E0E-49D5-4EEB-93EC-114C7F307C49</key>
		<dict>
			<key>xpos</key>
			<real>425</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>210422FE-DB49-4A71-BA84-2A5DA0C09DED</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>225083EE-60E1-4860-8A5E-D327B3DF8093</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>do it...</string>
			<key>xpos</key>
			<real>680</real>
			<key>ypos</key>
			<real>670</real>
		</dict>
		<key>247E13BF-D3BF-4039-A5D6-93AADE35BF7E</key>
		<dict>
			<key>xpos</key>
			<real>825</real>
			<key>ypos</key>
			<real>830</real>
		</dict>
		<key>3973DA90-712A-4C3E-9C02-FEECA09462A8</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>tail debug.log for OM App</string>
			<key>xpos</key>
			<real>160</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>4585DE45-AF6A-4480-828B-9A31FA6CD529</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>do it...</string>
			<key>xpos</key>
			<real>965</real>
			<key>ypos</key>
			<real>830</real>
		</dict>
		<key>4FB14C1A-AEBE-4DC0-ACC2-821642464058</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>Start watcher</string>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>56DC531B-9E4C-4939-9AC0-3C7844C23DA2</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>505</real>
		</dict>
		<key>5D70D929-B212-467C-901F-5EB105AE12CC</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>do it...</string>
			<key>xpos</key>
			<real>685</real>
			<key>ypos</key>
			<real>975</real>
		</dict>
		<key>680E383B-4C61-4972-9B72-853C64B0EBEA</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>tail debug.log for TP App</string>
			<key>xpos</key>
			<real>170</real>
			<key>ypos</key>
			<real>820</real>
		</dict>
		<key>6C8C96B3-3333-4DA2-8960-9A3777409FC6</key>
		<dict>
			<key>note</key>
			<string>Goto Hot-now</string>
			<key>xpos</key>
			<real>620</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>78C077C7-5786-4A74-85B8-CC4D99AD6466</key>
		<dict>
			<key>xpos</key>
			<real>320</real>
			<key>ypos</key>
			<real>530</real>
		</dict>
		<key>891774B0-A6F4-4FDC-8959-787C17F251BC</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>Start renderer</string>
			<key>xpos</key>
			<real>170</real>
			<key>ypos</key>
			<real>505</real>
		</dict>
		<key>897930AD-1A79-489B-B014-A1F06E864A91</key>
		<dict>
			<key>xpos</key>
			<real>640</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>8BAF75B1-1741-4226-BDD4-E75B60518F8B</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>670</real>
		</dict>
		<key>8CF6D0FA-B549-4591-B279-DC4FD07E3E36</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>Start watcher</string>
			<key>xpos</key>
			<real>170</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>8EACC32B-85B8-419C-B3C2-4722D9A2A736</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>820</real>
		</dict>
		<key>9125F622-F950-4E5B-959A-2ADB203A796A</key>
		<dict>
			<key>xpos</key>
			<real>580</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>9746B411-C6A4-4F8B-B9D4-66A9710856DD</key>
		<dict>
			<key>note</key>
			<string>Goto OM App Theme</string>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>985E6FB8-112C-4378-BBB1-41E5514D7B4D</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>Start Vue App</string>
			<key>xpos</key>
			<real>975</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>993D8D59-46C8-405B-825F-0AF4672AF930</key>
		<dict>
			<key>xpos</key>
			<real>640</real>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>A4FFFF65-510C-488F-AF13-2EFF565528F7</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>Start Vue App</string>
			<key>xpos</key>
			<real>170</real>
			<key>ypos</key>
			<real>355</real>
		</dict>
		<key>A6F588F6-9334-4A9E-8488-068D7E07388A</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>Start hot-now</string>
			<key>xpos</key>
			<real>465</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>A78EFB07-3982-4266-B18D-08210228491E</key>
		<dict>
			<key>note</key>
			<string>Goto OM Marketing wp-content</string>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>A87B6EC0-4BC4-4825-8B81-36E67BA044AB</key>
		<dict>
			<key>note</key>
			<string>Goto api.js</string>
			<key>xpos</key>
			<real>385</real>
			<key>ypos</key>
			<real>665</real>
		</dict>
		<key>ABAFA000-B6D1-4228-A0EF-8ABAB7EC0456</key>
		<dict>
			<key>xpos</key>
			<real>320</real>
			<key>ypos</key>
			<real>695</real>
		</dict>
		<key>B36D724D-012F-48DC-8E0E-432FB13093D7</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>BD540B8B-31DF-4807-A34E-5E8E775E4D12</key>
		<dict>
			<key>xpos</key>
			<real>825</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>BF5EDE24-5A8D-439A-BC14-89D27B8013AB</key>
		<dict>
			<key>xpos</key>
			<real>920</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>C3B76076-189C-498B-810D-C02FCD566FF8</key>
		<dict>
			<key>note</key>
			<string>Goto OM App Theme</string>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>815</real>
		</dict>
		<key>CFDD8415-05E0-417A-9490-EC9FC6023C20</key>
		<dict>
			<key>xpos</key>
			<real>540</real>
			<key>ypos</key>
			<real>670</real>
		</dict>
		<key>D12D36A3-B86C-4545-AE71-E5BEB6F8DBBD</key>
		<dict>
			<key>xpos</key>
			<real>815</real>
			<key>ypos</key>
			<real>670</real>
		</dict>
		<key>D1A124FB-3EE2-4FEF-8B5B-EAFAF68BDD99</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>do it...</string>
			<key>xpos</key>
			<real>955</real>
			<key>ypos</key>
			<real>670</real>
		</dict>
		<key>D3E1919A-09EF-4B80-9C2A-5ACEB35BAD4B</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>do it...</string>
			<key>xpos</key>
			<real>685</real>
			<key>ypos</key>
			<real>835</real>
		</dict>
		<key>D40BECDC-59A4-45DD-A647-06A2752EB984</key>
		<dict>
			<key>xpos</key>
			<real>565</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>D74D95C4-EF0A-4557-8565-D12B5763CB11</key>
		<dict>
			<key>note</key>
			<string>Goto OM App</string>
			<key>xpos</key>
			<real>310</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>DB5C2B96-21DE-4968-BBE3-31A381CCD4F5</key>
		<dict>
			<key>xpos</key>
			<real>920</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
		<key>E6920E20-95A2-4D41-83F6-62384AD8AEF2</key>
		<dict>
			<key>xpos</key>
			<real>545</real>
			<key>ypos</key>
			<real>835</real>
		</dict>
		<key>E7632854-C574-45EE-A08A-914BCA3BDCE4</key>
		<dict>
			<key>note</key>
			<string>Goto OM Dash</string>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>EBA2A51C-6C93-4A8F-BAD5-9A6280780BE2</key>
		<dict>
			<key>xpos</key>
			<real>320</real>
			<key>ypos</key>
			<real>845</real>
		</dict>
		<key>EF4A6003-5955-4860-97EF-1BE73309C869</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>tail debug.log for WP plugin</string>
			<key>xpos</key>
			<real>975</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>EF736134-C614-4622-8ACA-CFC635C1FC30</key>
		<dict>
			<key>xpos</key>
			<real>320</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>F40053F3-40FC-4822-908C-71B279784B87</key>
		<dict>
			<key>note</key>
			<string>Goto OM Renderer</string>
			<key>xpos</key>
			<real>385</real>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>F83E7F3F-F423-4CFB-A201-FF2DE719E9CD</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>Start watcher</string>
			<key>xpos</key>
			<real>170</real>
			<key>ypos</key>
			<real>665</real>
		</dict>
		<key>FF55E54D-51BC-44AB-9F4C-E4B0D3B0A311</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>tail debug.log for OM Marketing</string>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
